/* Imports the poppins font from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color: #2977D5;
    --text-color-01: #000000;
    --text-color-02:#CDDFF2;
    --text-color-03:#ffffff;
    --text-color-04:#2977D5;
    --text-color-05:#44C6E9;
    --bg-color-01: #FFF9FD;
    --bg-color-02: #D4E4F4;
    --bg-color-03: rgba(255, 249, 253, 0.589); /* 60% de opacidade */
    --color-00: #0000001a;


    /* EXTRA */
    --color-01: #999999;
    --color-02: #009539;
    --color-03: #7950F2;
    --color-04: #C00000;
    --color-05: #232323;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    /* rolar suave na pagina ao clicar nos index */
    scroll-behavior: smooth;  
    background: none;
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body{
    background-color: var(--bg-color-01);
    color: var(--text-color-01);
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color-01);
}

.logo{
    font-size: 1.7rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
}

.nav a{
    font-size: 1.2rem;
    color: var(--text-color-01);
    padding: 0.1rem 1rem;
    transition: 0.4s;
}

.nav a:hover{
    color: var(--main-color);
}

/* hero */
section {
    min-height: 20vh;
    padding: 6rem 6rem 2rem;
    /* border: solid 1px var(--color-04); */
}

span{
    color: var(--main-color);
}

.hero, .about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}

.about-img img{
    width: 80%;
}

.hero-content, .about-content{
    width: 50%;
}
.hero-img{
    width: 50%; /* Certifique-se de que a soma das larguras seja 100% ou menos */
    display: flex;
    justify-content: flex-end; /* Centralizar a imagem */
    right: 1rem;
}

.img-container {
    position: relative; /* Necessário para posicionar o círculo e a imagem corretamente */
    display: inline-block;
    align-items: center;
    width: 70%;
}

.img-container img {
    position: relative; /* Garante que a imagem esteja sobre o círculo */
    z-index: 1; /* Coloca a imagem à frente do círculo */
    /* width: 80%; Ajuste conforme necessário */
    width: 24vw;
    height: auto; /* Mantém a proporção da imagem */
}
/* Círculo */
.circle-gradient {
    position: absolute; /* Para posicionar o círculo atrás da imagem */
    top: 50%;
    left: 50%;
    width: 35vw; /* Defina o tamanho do círculo */
    height: 35vw; /* Deve ser igual à largura para ser um círculo */
    background: linear-gradient(
        to top, /* Direção do gradiente de baixo para cima */
        #00296D 0%,   /* 0% */
        #2977D5 30%,  /* 30% */
        #44C6E9 55%,  /* 55% */
        #D4E4F4 85%   /* 85% */
    );
    border-radius: 50%; /* Faz o contêiner se tornar um círculo */
    transform: translate(-58%, -50%); /* Centraliza o círculo */
    z-index: -1; /* Coloca o círculo atrás da imagem */
}

/* /Círculo */


/* /hero */


.hero-content h1, .about-content h1{
    font-weight: 700;
    line-height: 1.3;

    font-size: 2.7rem; /*TEST*/  
}

.hero-content h3, .about-content h3{
    font-weight: 700;
    font-size: 1.6rem;
    
}

.hero-content p, .about-content p{
    margin-top: 1.2rem;
    text-align: justify;
    letter-spacing: 0.09rem;
    margin-bottom: 1.2rem;
   

}

/* contact-row */

.contact-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color-02);
    padding: 6rem 6rem ;
}

.contact-row-address{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons-contact-row{
    width: 20%;
    margin-right: 0.8rem;
    padding-bottom: 2.5rem;
    
}
.icons-contact-row i{
    font-size: 3rem;
    
}
.conctact-row-content{
    width: 80%;
}

.conctact-row-content h3{
    margin-bottom: 1rem;
}

.conctact-row-content p{
    font-size: 1rem;
}

/* /contact-row */

/*  SERVICES */
.services{
    background: url("/img/img-bg.png") no-repeat right center;
    background-size: contain;
    padding: 2rem;
    box-sizing: border-box;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.services h4, .about-content h3, .contact-titles h3{
    font-weight: 500;
    font-size: 1rem;
    color: var(--text-color-05);
    
}

.services h1, .about-content h1, .contact-titles h1{
    font-weight: 700;
    font-size: 2.7rem;
    color: var(--main-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Define a sombra do texto */
}
.services-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.services-card{
    background: var(--bg-color-03);
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
    margin-top: 2rem;
    flex-basis: calc(33.33% - 2rem);

    border:1px solid rgba(0,0,0,0.2);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    
}
.services-card img{
    width: 20%;
    height: 4rem;
    padding: auto;
}

.services-card h3{
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--text-color-04);
    
}

.services-card p {
    line-height: 1.6rem; /* Ajusta a altura da linha para 1.6rem */
    max-height: 10rem; /* Limita a altura máxima do parágrafo */
    overflow: hidden; /* Esconde o texto que ultrapassa o limite */
    text-overflow: ellipsis; /* Adiciona "..." ao final do texto se ele for cortado */
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limita o texto a 6 linhas */
    -webkit-box-orient: vertical;
}



/* /SERVICES */

/* CLINIC */

.clinic{
    background: linear-gradient(to bottom, 
    #FFF9FD 0%, 
    #D4E4F4 40%, 
    #D4E4F4 100%
  );
}

/* /CLINIC */

/* ABOUT */
.about-list ul{
    padding-left: 2rem;
}

.about-list li{
    font-size: 1.3rem;
}
.about-content h1{
    margin-bottom: 2rem;
}
/* /ABOUT */



/* CONTACT */
.contact{
    background: linear-gradient(to bottom, 
    #D4E4F4 0%,
    #2976d5b7 100%
  );
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box;
}
.contact-titles{
    text-align: right;
    margin-bottom: 2rem;
}



.contact-titles h1, .contact-titles h3, .contact-container{
    margin:0 3.5rem;
}
.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    
}
/* CONTACT CONTENT */
.contact-content{
    flex: 1;
}

.contact-info-line{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    color: var(--text-color-01);
}

.icons-contact-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.icons-contact-row h3 {
    margin: 0; /* Remove a margem padrão do h3 para evitar quebra de linha desnecessária */
    white-space: nowrap; /* Impede a quebra de linha dentro do h3 */
}


.icons-contact-row h3, .conctact-row-content i {
    font-weight: 500;
}

.conctact-row-content p {
    margin: 0; /* Remove a margem padrão do p */
    padding-left: 4rem; /* Ajuste conforme necessário para alinhar com o h3 */
}


.contact-info-line .contact-social{
    justify-content: left;
}

.contact-social{
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 5rem;
    margin-top: 4rem;
    padding-left: 4rem; /* Ajuste conforme necessário para alinhar com o h3 */
}

.contact-social i{
    font-size: 4rem;
    color: var(--bg-color-01);
}

/* CONTACT FORM */
.contact-form{
    flex: 1;
    background: linear-gradient(to top right, 
    #25252534 0%,   /* Preto no início do gradiente */
    #44c5e92d 100%  /* Azul escuro ocupa o final */
    ); /* Gradiente no fundo do card */
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
}

.contact-form h1{
    margin-bottom: 2rem;
    color: var(--text-color-03);
    text-align: left;
}

.input-box {
    margin-bottom: 2.5rem; /* Espaçamento entre os campos do formulário */
}

.input-box input, 
.input-box textarea {
  width: 100%; /* Campos ocupam toda a largura disponível */
  padding: 10px; /* Espaçamento interno dos campos */
  border-radius: 5px; /* Bordas arredondadas dos campos */
  border-bottom: 1px solid #ccc; /* Borda leve ao redor dos campos */
  box-sizing: border-box; /* Inclui padding e border no tamanho total */
  color: var(--text-color-03);
  font-size: 1.5rem;
}

/* Muda a cor do placeholder para branco */
.input-box input::placeholder,
.input-box textarea::placeholder {
  color: var(--text-color-03); /* Cor do placeholder */
}
/* /CONTACT */

/* FOOTER */
footer{
    background: linear-gradient(to bottom, 
    #2976d5b7 60%,
    #2976d5b7 100%

  );
    min-height: 8rem;
    color: var(--text-color-02);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
}
/* /FOOTER */

/* slider clinic para facilitar o desenvolvimento inicei o css do slider o qual nao sei como vai ficar na versão final */

.clinic{
    margin: 0;
    padding: 0;
}

.gallery{
    width: 36rem;
    height: 23rem;
    position: relative;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.gallery img{
    width: 100%;
    height: 100%;
    position: sticky;
    left: 0;
    flex-shrink: 0;
    object-fit: cover;
    scroll-behavior: smooth;
}

/* /slider clinic para facilitar o desenvolvimento inicei o css do slider o qual nao sei como vai ficar na versão final */

/* ==== button ==== */

.contact-form .btn{
    width: 18rem;
    text-align: center;
    background-color: var(--bg-color-01);
    color: var(--main-color);
    font-weight: 700;
    font-size: 1.2rem;

}
.btn{
    display: inline-block;
    padding: 1.4rem 1.8rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    color: var(--bg-color-01);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
    border: none;
    width: max-content;
}

.contact-form .btn:hover{
    box-shadow: 0 0 0.3rem var(--bg-color-01);
    background-color: inherit;
    color: var(--text-color-03);
    cursor: pointer;

}

.btn:hover{
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: inherit;
    color: var(--main-color);
    cursor: pointer;
}

.btn-clear{
    background-color: transparent;
    color: var(--text-color-01);
    border-bottom: solid 0.1rem var(--main-color);
    width: max-content;
}

.btn-clear:hover{
    color: var(--main-color);
    transform: scale(1.3);
}


/* ==== button ==== */


/* Remove o botão de incremento/decremento do campo de telefone */
.input-box input[type="number"] {
    -moz-appearance: textfield; /* Remove o botão em Firefox */
}
  
.input-box input[type="number"]::-webkit-inner-spin-button,
.input-box input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Remove o botão em Chrome, Safari e Opera */
    margin: 0; /* Remove margem adicional */
}