/* Imports the poppins font from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color: #00eeff;
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323946;
    --color-00: #0000001a;


    /* EXTRA */
    --color-01: #999999;
    --color-02: #009539;
    --color-03: #7950F2;
    --color-04: #C00000;
    --color-05: #232323;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    /* rolar suave na pagina ao clicar nos index */
    scroll-behavior: smooth;  
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body{
    /* background-color: var(--bg-color-01);
    color: var(--text-color); */
}

/* slider clinic para facilitar o desenvolvimento inicei o css do slider o qual nao sei como vai ficar na versão final */

.clinic{
    margin: 0;
    padding: 0;
}

.gallery{
    width: 36rem;
    height: 23rem;
    position: relative;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.gallery img{
    width: 100%;
    height: 100%;
    position: sticky;
    left: 0;
    flex-shrink: 0;
    object-fit: cover;
    scroll-behavior: smooth;
}